<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.service.keylessrn.activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <queries>
        <package android:name="com.service.keylessrn" />
    </queries>

    <application
        android:name="com.service.keylessrn.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Client">
        <activity
            android:name=".RotaryDialerActivity"
            android:exported="false" />
        <activity
            android:name=".TrainingActivity"
            android:exported="false" />
        <activity
            android:name=".ThermostatSliderActivity"
            android:exported="false" />
        <activity
            android:name=".SwipeButtonActivity"
            android:exported="false" />
        <activity android:name=".StepCounter" />
        <activity
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>